*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
header{
    height: 100px;
    width: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    padding: 20px 15px;
    /* text-align: center; */
    
}

nav li{
    list-style: none;
    /* display: flex; */
    /* margin: top 20px;; */

}
 ul{
    display: flex;
    gap: 60px;
   margin-top: 20px;
}

 .section1{
    height: 680px;
    width: 100%;
    background-color: rgb(200, 200, 241);
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;

    
    

 }
 .section1text{
    font-size: 2rem;
    /* margin-left: 40px; */

 }
 .main{
    display: flex;
    justify-content: space-around;
    gap: 100px;
    padding: 20PX 15px;
    width: 100%;
    background-color:  rgb(200, 200, 241);

    

 }
 h3{
    /* text-align: end; */
 }
 .card{
    width: 32%;
    border: 1px solid black;
    text-align: center;
    height: 400px;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-left: 50px;
    margin-top: 80px;
    border-radius: 15px;
    margin: auto;
    border-radius: 10px;

    /* gap: 50px; */

 }
 .section1_2{
  display: flex;
 }
 .card1{
    width: 80%;
    margin: auto;
 }
.card2{
    width: 10%;
    height: 60px;

}
.line{
    width: 80%;
    margin: auto;
}
.lasttext{
    text-align: end;
}
.car2{
    display: flex;
}
h2{
    margin-top: 20px;
}
.aws{
  display: flex;
  justify-content: start;
}
.arad img{
  position: absolute;
  left: 10px;
}
/* .arad img{
  position: relative;
  left: 5px;
} */
.
















/* .arad{
    width: 40%;
    height: 150px;
} */
.arad img{
    /* position: absolute; */
}
/* .arad2{
    position: absolute;
    top: 1px;
} */


.section_2_1{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    border: 1px solid black;
    /* height: 400px; */
    box-shadow: 1px 2px 3px 2px ;
    border-radius: 10px;
  
}
.section_2_1:hover{
  transform: scale(1.05);
  transition-duration: 1s;
}
.section_2_2{
   margin: auto;
   /* margin-left: 30px; */
   margin-top: 30px
}

.section_2_2_1{
  position: relative;
  /* top: 10px;
   */
   bottom: 65px;
   left: 30px;

}
.section2{
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  /* height: 70vh; */
  /* border: 1px solid black; */
  margin-top: 40px;
  gap: 40px;

}
.section_3{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 500px;
  margin-top: 50px;
  gap: 30px;
  background-color: aquamarine;
}
.section_3_8{
  display: flex;
  justify-content: space-around;
}

.section_3_1{
  display: flex;
  justify-content: space-between;
  gap: 30px;
  /* width: 100%; */

}
.sec3_main{
  display: flex;
  flex-direction: column;
  width: 30%;
  /* border: 1px solid black; */
  /* margin: auto; */
  gap: 15px  ;
   box-shadow: 1px 2px 3px 2px;
   /* column-gap: 30px; */
   background-color: white;
   border-radius: 10px;

}
.sec3_main:hover{
  transform: scale(1.05);
  transition-duration: 1s;
  box-shadow: 2px 4px red;
 
}

.sec_3short_2{
  display: flex;
  justify-content: space-around;
}
.sec_3short_4{
  display: flex;
  justify-content: space-around;
  /* border: 1px solid black; */
  /* margin: auto; */
  width: 100%;  
}
.sec_3short_1{
  margin: auto;
}
.sec_3short_3{
  display: flex;  
  flex-direction: column;
  justify-content: space-evenly;
  margin: auto;

  width: 80%;

}
.sec345 img {
  /* width: %; */
  height: 20px;
}


.section_4{
  height: 300px;
  background-color: indigo;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 15px;
}
.section_3_9{
  width: 100%;
  height: 500px;
  /* border-color: cadetblue; */
  background-color: cadetblue;
  /* border: 5px solid black; */
  /* margin-top: 50px; */
}



footer{
  width: 100%;
  height: 400px;
  border-radius: 15px;
  background-color: indigo;
  /* text-align: center; */
  /* display: flex; */
}
.foo_1{
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  /* border: 1px solid black; */
  width: 40%;
  margin: auto;
  /* margin-top: 50px; */
  color: white;
}
input{
  height: 40px;
  border-radius: 20px;
}








@media (max-width: 768px) {

  /* HEADER */
  header {
    flex-direction: column;
    height: auto;
    gap: 15px;
  }

  /* HAMBURGER */
  .hamburger {
    display: block;
    position: absolute;
    top: 25px;
    right: 20px;
    z-index: 1000;
  }

  /* NAVBAR */
  nav {
    display: none;
    width: 100%;
  }

  nav.active {
    display: block;
  }

  ul {
    flex-direction: column;
    gap: 20px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    background-color: #ddd;
  }
  .section1{
    height: fit-content;
  }

  /* SECTION 1 CARDS */
  .section1_2 {
    flex-direction: column;
    gap: 30px;
  }

  .card {
    width: 90%;
  }

  /* SECTION 2 GRID */
  .section2 {
    grid-template-columns: repeat(1, 1fr);
    height: fit-content;
  }

  /* SECTION 3 */
  .section_3 {
    height: fit-content;
    padding: 30px 10px;
  }

  .section_3_1 {
    flex-direction: column;
    align-items: center;
  }

  .sec3_main {
    width: 90%;
  }
  .section_3_9{
    height: fit-content;
  }

  /* SECTION 4 */
  .section_4 {
    padding: 20px;
    height: fit-content;

  }

  /* FOOTER */
  footer {
    height: auto;
    padding: 30px 10px;
  }

  .foo_1 {
    width: 90%;
    text-align: center;
  }

}
